<%- include('partials/header') -%>
<form action="/campgrounds" method="POST" class="form-signin" style="width:25%; margin:20px auto" >

      <h1 class="h1 mb-3 font-weight-normal" style="text-align:center">Create a new campground</h1>
      <label for="inputName" class="sr-only">name</label>
      <input type="text" id="campName" class="form-control" placeholder="Name" name="name">
      <label for="inputURL" class="sr-only">Image URL</label>
      <input id="campURL" class="form-control" placeholder="Image URL" name="image">
      <div class="checkbox mb-3">
      </div>
      <button class="btn btn-lg btn-primary btn-block">Submit!</button>
    </form>

    <a href="/campgrounds" style="margin-left:37.5%">Go back</a>
  </div>


<%- include('partials/footer') -%>
